/.vscode
/bad-sakila-data
/bad-sakila-data.zip
/education_database (1).sql
/education_database.sql
/education_plus.sql
/Mean and Variance
/Module 8
/Module 8.zip
/Python
/Python Class Example.txt
/Sakila Data
/Sakila Data.zip
/SQL File1.sql
/SQL File10 - REGEX.sql
/SQL File11- Inner Joins.sql
/SQL File11- Multiple Joins.sql
/SQL File11- Self Joins.sql
/SQL File12- AGGREGATING.sql
/SQL File12- ORDER BY.sql
/SQL File2.sql
/SQL File3.sql
/SQL File4.sql
/SQL File5.sql
/SQL File6.sql
/SQL File7.sql
/SQL File8.sql
/SQL File9.sql
/use of LIMIT.sql